$text-color-header: #080a3c;
$text-color-content: #4a6f8a;
$text-color-turqouise: #13c4a1;
$text-color-orange: #ff612f;
$text-color-gray-icon: #aba5a5;

* {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: $text-color-header;
}

p,
ul {
    color: $text-color-content;
}

body {
    height: 100vh;
    section {
        height: 100%;
        .inner {
            padding: 4rem 2rem;
            box-shadow: 0 10px 35px 5px rgba(137, 173, 255, 0.15);
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    i {
                        color: $text-color-turqouise;
                    }
                }
            }
            a {
                text-decoration: none;
                font-size: 40px;
                font-weight: 500;
                &.number {
                    color: $text-color-turqouise;
                    &:hover {
                        color: $text-color-orange;
                    }
                }
                &.email {
                    color: $text-color-orange;
                    &:hover {
                        color: $text-color-turqouise;
                    }
                }
            }
            .social-icons {
                i {
                    padding: 8px;
                    border: 1px solid $text-color-gray-icon;
                    border-radius: 50%;
                    color: $text-color-gray-icon;
                }
            }
        }
    }
}
