$text-color-header: #080a3c;
$text-color-content: #4a6f8a;

* {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: $text-color-header;
}

p,
ul {
    color: $text-color-content;
}

body {
    height: 100vh;
    section {
        height: 100%;
        .inner {
            padding: 4rem;
            box-shadow: 0 10px 35px 5px rgba(137, 173, 255, 0.15);
            a {
                text-decoration: none;
            }
        }
    }
}
